In [1]:
import numpy as np
import pandas as pd

In [2]:
# Define column names based on the UCI Machine Learning Repository description
column_names = [f'feature_{i}' for i in range(34)] + ['label']

file_path = "C:/Users/91959/Desktop/CODE/Robust-Logistic-Regression-with-Shift-Parameter-Estimation/Robust Logistic Regression [DATA DIRECTORY]/Linear Case/ionosphere/ionosphere.data"

df = pd.read_csv(file_path, header=None, names=column_names)

df.head(10)

,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,feature_9,...,feature_25,feature_26,feature_27,feature_28,feature_29,feature_30,feature_31,feature_32,feature_33,label
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
5,1,0,0.02337,-0.00592,-0.09924,-0.11949,-0.00763,-0.11824,0.14706,0.06637,...,-0.01535,-0.03240,0.09223,-0.07859,0.00732,0.00000,0.00000,-0.00039,0.12011,b
6,1,0,0.97588,-0.10602,0.94601,-0.20800,0.92806,-0.28350,0.85996,-0.27342,...,-0.81634,0.13659,-0.82510,0.04606,-0.82395,-0.04262,-0.81318,-0.13832,-0.80975,g
7,0,0,0.00000,0.00000,0.00000,0.00000,1.00000,-1.00000,0.00000,0.00000,...,1.00000,1.00000,1.00000,0.00000,0.00000,1.00000,1.00000,0.00000,0.00000,b
8,1,0,0.96355,-0.07198,1.00000,-0.14333,1.00000,-0.21313,1.00000,-0.36174,...,-0.65440,0.57577,-0.69712,0.25435,-0.63919,0.45114,-0.72779,0.38895,-0.73420,g
9,1,0,-0.01864,-0.08459,0.00000,0.00000,0.00000,0.00000,0.11470,-0.26810,...,-0.01326,0.20645,-0.02294,0.00000,0.00000,0.16595,0.24086,-0.08208,0.38065,b

In [3]:
for i in df.columns:
    print(df[i].value_counts())
    print('-------------------------------')

feature_0
1    313
0     38
Name: count, dtype: int64
-------------------------------
feature_1
0    351
Name: count, dtype: int64
-------------------------------
feature_2
 1.00000    95
 0.00000    25
-1.00000    15
 0.02337     1
 0.97588     1
            ..
 0.83508     1
 0.95113     1
 0.94701     1
 0.90608     1
 0.84710     1
Name: count, Length: 219, dtype: int64
-------------------------------
feature_3
 0.00000    30
 1.00000    26
-1.00000    24
 0.00075     2
-0.09524     2
            ..
-0.08714     1
 0.08380     1
-0.14236     1
-0.14639     1
-0.03365     1
Name: count, Length: 269, dtype: int64
-------------------------------
feature_4
 1.00000    96
 0.00000    38
-1.00000    16
 0.85243     1
 0.94140     1
            ..
 0.73739     1
 0.95183     1
 0.93207     1
 0.98122     1
 0.73638     1
Name: count, Length: 204, dtype: int64
-------------------------------
feature_5
 0.00000    46
 1.00000    26
-1.00000    23
 0.02306     1
 0.01456     1
            ..
 0.26708     1
-0.01236     1
 0.05031     1
-0.09834     1
-0.36156     1
Name: count, Length: 259, dtype: int64
-------------------------------
feature_6
 1.00000    71
 0.00000    37
-1.00000    13
 0.50000     2
 0.33333     2
            ..
 0.84349     1
 0.93438     1
 0.95177     1
 0.95691     1
 0.87873     1
Name: count, Length: 231, dtype: int64
-------------------------------
feature_7
 0.00000    39
 1.00000    29
-1.00000    24
 0.06874     2
 0.09091     2
            ..
 0.18761     1
-0.07649     1
 0.09313     1
-0.05131     1
-0.10127     1
Name: count, Length: 260, dtype: int64
-------------------------------
feature_8
 1.00000    64
 0.00000    32
-1.00000    11
 0.80000     2
-0.33333     2
            ..
 0.90441     1
 0.94590     1
 0.95584     1
 0.85746     1
 0.88928     1
Name: count, Length: 244, dtype: int64
-------------------------------
feature_9
 0.00000    39
 1.00000    28
-1.00000    17
-0.09091     2
-0.14286     2
            ..
-0.37500     1
 0.64520     1
-0.16399     1
-0.17036     1
 0.03760     1
Name: count, Length: 267, dtype: int64
-------------------------------
feature_10
 1.00000    66
 0.00000    28
-1.00000    13
 0.50000     2
 0.50874     1
            ..
 0.89391     1
 0.96510     1
 0.94124     1
 0.89724     1
 0.78735     1
Name: count, Length: 246, dtype: int64
-------------------------------
feature_11
 0.00000    37
 1.00000    29
-1.00000    18
-0.11111     2
-0.06302     1
            ..
-0.31809     1
-0.10951     1
-0.49863     1
-0.06256     1
 0.05346     1
Name: count, Length: 269, dtype: int64
-------------------------------
feature_12
 1.00000    65
 0.00000    31
-1.00000    17
 0.62099     2
 0.16667     2
            ..
 0.81197     1
 0.94171     1
 0.92595     1
 0.89061     1
 0.80668     1
Name: count, Length: 238, dtype: int64
-------------------------------
feature_13
 0.00000    37
-1.00000    24
 1.00000    23
-0.11111     3
-0.01436     2
            ..
-0.44945     1
-0.00351     1
 0.07772     1
 0.03552     1
 0.02320     1
Name: count, Length: 266, dtype: int64
-------------------------------
feature_14
 1.00000    60
 0.00000    39
-1.00000    19
 0.50435     2
 0.36364     2
            ..
 0.79307     1
 0.94625     1
 0.93954     1
 0.90608     1
 0.79262     1
Name: count, Length: 234, dtype: int64
-------------------------------
feature_15
 0.00000    45
-1.00000    20
 1.00000    19
-0.15540     1
-0.61436     1
            ..
-0.35924     1
 0.14638     1
 0.73393     1
-0.07917     1
 0.14516     1
Name: count, Length: 270, dtype: int64
-------------------------------
feature_16
 1.00000    59
 0.00000    25
-1.00000    12
-0.37500     3
 0.75000     2
            ..
 0.76776     1
 0.97173     1
 0.94837     1
 0.91381     1
 0.85764     1
Name: count, Length: 254, dtype: int64
-------------------------------
feature_17
 0.00000    30
-1.00000    26
 1.00000    18
-0.04569     1
-0.38542     1
            ..
 0.00280     1
-0.07379     1
-0.62180     1
 0.82777     1
 0.00773     1
Name: count, Length: 280, dtype: int64
-------------------------------
feature_18
 1.00000    53
 0.00000    24
-1.00000    21
-0.50000     2
 0.95035     2
            ..
 0.96639     1
 0.94834     1
 0.93784     1
 0.80773     1
 0.87170     1
Name: count, Length: 254, dtype: int64
-------------------------------
feature_19
 0.00000    34
-1.00000    28
 1.00000    24
 0.12727     2
 0.10000     2
            ..
-0.85583     1
-0.47022     1
-0.28257     1
 0.26590     1
-0.03515     1
Name: count, Length: 266, dtype: int64
-------------------------------
feature_20
 1.00000    54
 0.00000    36
-1.00000    16
 0.56971     1
-0.69975     1
            ..
 0.87605     1
 0.92670     1
 0.91406     1
 0.88729     1
 0.81722     1
Name: count, Length: 248, dtype: int64
-------------------------------
feature_21
 0.00000    37
 1.00000    30
-1.00000    21
 0.00075     2
-0.29674     1
            ..
 0.11053     1
-0.35519     1
-0.47153     1
 0.92730     1
-0.76320     1
Name: count, Length: 265, dtype: int64
-------------------------------
feature_22
 1.00000    62
 0.00000    27
-1.00000    16
 0.66667     2
 0.02309     1
            ..
 0.77521     1
 0.93124     1
 0.89470     1
 0.92155     1
 0.71002     1
Name: count, Length: 248, dtype: int64
-------------------------------
feature_23
 0.00000    32
-1.00000    31
 1.00000    24
-0.25000     2
 0.09091     2
            ..
 0.04394     1
-0.78547     1
-0.59661     1
-0.50085     1
 0.02099     1
Name: count, Length: 264, dtype: int64
-------------------------------
feature_24
 1.00000    57
 0.00000    24
-1.00000    15
 0.50000     2
 0.66667     2
            ..
 0.95378     1
 0.94520     1
 0.93988     1
 0.91050     1
 0.86467     1
Name: count, Length: 256, dtype: int64
-------------------------------
feature_25
-1.00000    31
 0.00000    27
 1.00000    17
-0.09091     3
-0.12500     2
            ..
-0.47137     1
-0.17012     1
 0.20033     1
 0.92236     1
-0.00663     1
Name: count, Length: 273, dtype: int64
-------------------------------
feature_26
 1.00000    88
-1.00000     9
 0.58984     1
 0.41078     1
 0.51613     1
            ..
 0.83479     1
 0.93522     1
 0.92489     1
 0.89147     1
 0.81147     1
Name: count, Length: 256, dtype: int64
-------------------------------
feature_27
-1.00000    40
 1.00000    29
 0.00000     4
-0.46168     1
-0.18401     1
            ..
-0.29174     1
-0.86583     1
-0.49687     1
-0.54629     1
-0.86500     1
Name: count, Length: 281, dtype: int64
-------------------------------
feature_28
 1.00000    57
 0.00000    30
-1.00000    22
 0.53550     2
 0.43100     1
            ..
 0.87568     1
 0.93159     1
 0.92120     1
 0.82983     1
 0.78207     1
Name: count, Length: 244, dtype: int64
-------------------------------
feature_29
 0.00000    33
-1.00000    28
 1.00000    26
 0.25000     2
-0.11593     1
            ..
-0.75820     1
-0.79141     1
-0.59854     1
-0.21901     1
-0.00703     1
Name: count, Length: 266, dtype: int64
-------------------------------
feature_30
 1.00000    58
 0.00000    31
-1.00000    22
 0.60436     1
-0.16626     1
            ..
 0.86660     1
 0.94066     1
 0.92459     1
 0.96022     1
 0.75747     1
Name: count, Length: 243, dtype: int64
-------------------------------
feature_31
 0.00000    36
 1.00000    28
-1.00000    25
 0.63636     2
-0.18750     2
            ..
-0.00015     1
-0.26284     1
-0.92128     1
-0.75761     1
 0.10067     1
Name: count, Length: 263, dtype: int64
-------------------------------
feature_32
 0.00000    48
 1.00000    48
-1.00000    12
-0.00008     2
-0.13738     1
            ..
 0.90546     1
 0.91483     1
 0.92697     1
 0.87403     1
 0.85764     1
Name: count, Length: 245, dtype: int64
-------------------------------
feature_33
 0.00000    51
 1.00000    25
-1.00000    15
-0.06151     1
-0.45300     1
            ..
-0.00182     1
-0.39487     1
-0.84437     1
-0.58086     1
 0.10067     1
Name: count, Length: 263, dtype: int64
-------------------------------
label
g    225
b    126
Name: count, dtype: int64
-------------------------------

In [4]:
# Drop a single column
df = df.drop('feature_1', axis=1)  # axis=1 indicates columns

In [5]:
df.shape

(351, 34)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   feature_0   351 non-null    int64
 1   feature_2   351 non-null    float64
 2   feature_3   351 non-null    float64
 3   feature_4   351 non-null    float64
 4   feature_5   351 non-null    float64
 5   feature_6   351 non-null    float64
 6   feature_7   351 non-null    float64
 7   feature_8   351 non-null    float64
 8   feature_9   351 non-null    float64
 9   feature_10  351 non-null    float64
 10  feature_11  351 non-null    float64
 11  feature_12  351 non-null    float64
 12  feature_13  351 non-null    float64
 13  feature_14  351 non-null    float64
 14  feature_15  351 non-null    float64
 15  feature_16  351 non-null    float64
 16  feature_17  351 non-null    float64
 17  feature_18  351 non-null    float64
 18  feature_19  351 non-null    float64
 19  feature_20  351 non-null    float64
 20  feature_21  351 non-null    float64
 21  feature_22  351 non-null    float64
 22  feature_23  351 non-null    float64
 23  feature_24  351 non-null    float64
 24  feature_25  351 non-null    float64
 25  feature_26  351 non-null    float64
 26  feature_27  351 non-null    float64
 27  feature_28  351 non-null    float64
 28  feature_29  351 non-null    float64
 29  feature_30  351 non-null    float64
 30  feature_31  351 non-null    float64
 31  feature_32  351 non-null    float64
 32  feature_33  351 non-null    float64
 33  label       351 non-null    object
dtypes: float64(32), int64(1), object(1)
memory usage: 93.4+ KB

Data Preprocessing

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

label_encoder = LabelEncoder()
df['label'] = label_encoder.fit_transform(df['label'])

In [8]:
# Separate features and target variable
X = df.drop(columns=['label'])
y = df['label']

In [9]:
# Standardize the feature set (zero mean, unit variance)
scaler = StandardScaler()
X = scaler.fit_transform(X)

def introduce_label_noise(y, noise_percentage=0.1):
    """
    Introduces label noise by flipping a percentage of majority class labels to the minority class.

    Args:
        y (pd.Series): The target variable.
        noise_percentage (float): The percentage of majority class labels to flip (e.g., 0.1 for 10%).

    Returns:
        pd.Series: The target variable with label noise.
    """

    value_counts = y.value_counts()
    majority_class = value_counts.idxmax()
    minority_class = value_counts.idxmin()

    print("Original class distribution:")
    print(value_counts)

    majority_indices = y[y == majority_class].index
    num_noise = int(len(majority_indices) * noise_percentage)

    noise_indices = np.random.choice(majority_indices, num_noise, replace=False)

    y_noisy = y.copy()
    y_noisy.loc[noise_indices] = minority_class

    print("\nClass distribution after introducing noise:")
    print(y_noisy.value_counts())

    return y_noisy

y = introduce_label_noise(y, noise_percentage=0.2) # x % noise

Original class distribution:
label
1    225
0    126
Name: count, dtype: int64

Class distribution after introducing noise:
label
1    180
0    171
Name: count, dtype: int64

In [10]:
# Split data into training and test sets (80-20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

# Print dataset shapes
print(f"Training set size: {X_train.shape}, Test set size: {X_test.shape}")

Training set size: (280, 33), Test set size: (71, 33)

In [11]:
print("X_train type:",type(X_train))
print("X_test type:",type(X_test))
print("y_train type:",type(y_train))
print("y_test type:",type(y_test))

X_train type: <class 'numpy.ndarray'>
X_test type: <class 'numpy.ndarray'>
y_train type: <class 'pandas.core.series.Series'>
y_test type: <class 'pandas.core.series.Series'>

Implementation

In [12]:
from sklearn.metrics import accuracy_score

In [13]:
# ===========================
# SIGMOID FUNCTION
# ===========================
def sigmoid(z):
    """Compute the sigmoid function."""
    return 1 / (1 + np.exp(-z))

# ===========================
# THRESHOLDING FUNCTIONS FOR SHIFT PARAMETERS
# ===========================
def soft_threshold(u, lambda_, a):
    """Soft thresholding function for shift parameter estimation."""
    return a * np.minimum(u + lambda_, 0)

def hard_threshold(u, lambda_, a):
    """Hard thresholding function for shift parameter estimation."""
    return a * u * (u <= -lambda_)

In [14]:
# ===========================
# ROBUST LOGISTIC REGRESSION WITH SHIFT PARAMETER ESTIMATION
# ===========================
def train_robust_logistic_regression(X, y, lr=0.01, epochs=1000, tol=1e-6, lambda_=1.0, a=2.0, threshold_type='soft'):
    """
    Train robust logistic regression using gradient descent with shift parameter estimation.
    """
    m, n = X.shape
    theta = np.zeros(n)
    gamma = np.zeros(m)
    prev_loss = float('inf')

    for epoch in range(epochs):
        # Step 1: Update weights theta using logistic regression with offset
        z = np.dot(X, theta)
        u = y * (z - gamma)
        h = sigmoid(z - gamma)
        gradient_theta = np.dot(X.T, (h - (y + 1) / 2)) / m
        theta -= lr * gradient_theta

        # Step 2: Update shift parameters gamma using thresholding
        z = np.dot(X, theta)
        u = y * z
        if threshold_type == 'soft':
            gamma = soft_threshold(u, lambda_, a)
        elif threshold_type == 'hard':
            gamma = hard_threshold(u, lambda_, a)
        else:
            raise ValueError("threshold_type must be 'soft' or 'hard'")

        # Step 3: Compute current loss with L1 penalty
        loss = np.mean(np.log(1 + np.exp(-u + gamma))) + lambda_ * np.sum(np.abs(gamma))

        # Early stopping condition
        if abs(prev_loss - loss) < tol:
            break
        prev_loss = loss

    return theta, gamma

# ===========================
# PREDICTION FUNCTION
# ===========================
def predict_robust_logistic_regression(X, theta):
    """
    Make predictions using trained robust logistic regression model.
    """
    probabilities = sigmoid(np.dot(X, theta))
    return np.where(probabilities >= 0.5, 1, -1)

In [15]:
# ===========================
# APPLY TO YOUR DATASET
# ===========================

# Convert Pandas DataFrame to NumPy array
# X_train_np = X_train.values
# X_test_np = X_test.values

# Convert labels from {0,1} to {-1,1} while still in pandas Series form
y_train_np = 2 * y_train.values - 1  # Convert 0 → -1 and 1 → 1
y_test_np = 2 * y_test.values - 1    # Convert 0 → -1 and 1 → 1

In [16]:
# Train robust logistic regression on your dataset
theta, gamma = train_robust_logistic_regression(
    X_train, y_train_np, lr=0.1, epochs=2000, tol=1e-6, lambda_=0.1, a=2.0, threshold_type="hard"
)

# Predict on test set
y_pred = predict_robust_logistic_regression(X_test, theta)

# Compute misclassification rate
misclassification_rate = 1 - accuracy_score(y_test_np, y_pred)

print(f"Test misclassification rate: {misclassification_rate:.4f}")

Test misclassification rate: 0.2676

---

In [17]:
# ===========================
# ROBUST LOGISTIC REGRESSION WITH ELASTIC NET
# ===========================
def train_robust_logistic_regression_elastic(X, y, lr=0.01, epochs=1000, tol=1e-6, lambda_=1.0, alpha=0.5, a=2.0, threshold_type='soft'):
    """
    Train robust logistic regression using gradient descent with shift parameter estimation and Elastic Net regularization.
    """
    m, n = X.shape
    theta = np.zeros(n)
    gamma = np.zeros(m)
    prev_loss = float('inf')

    for epoch in range(epochs):
        # Step 1: Update weights theta using logistic regression with offset
        z = np.dot(X, theta)
        u = y * (z - gamma)
        h = sigmoid(z - gamma)
        gradient_theta = np.dot(X.T, (h - (y + 1) / 2)) / m

        # Elastic Net penalty gradient:
        l1_grad = alpha * np.sign(theta)  # L1 (Lasso)
        l2_grad = (1 - alpha) * theta  # L2 (Ridge)

        # Apply Elastic Net regularization
        gradient_theta += lambda_ * (l1_grad + l2_grad)

        # Update weights
        theta -= lr * gradient_theta

        # Step 2: Update shift parameters gamma using thresholding
        z = np.dot(X, theta)
        u = y * z
        if threshold_type == 'soft':
            gamma = soft_threshold(u, lambda_, a)
        elif threshold_type == 'hard':
            gamma = hard_threshold(u, lambda_, a)
        else:
            raise ValueError("threshold_type must be 'soft' or 'hard'")

        # Step 3: Compute current loss with Elastic Net penalty
        l1_term = alpha * np.sum(np.abs(theta))
        l2_term = (1 - alpha) * np.sum(theta**2)
        loss = np.mean(np.log(1 + np.exp(-u + gamma))) + lambda_ * (l1_term + l2_term)

        # Early stopping condition
        if abs(prev_loss - loss) < tol:
            break
        prev_loss = loss

    return theta, gamma

In [18]:
# ===========================
# FIT ON PREPROCESSED DATASET
# ===========================
def fit_and_evaluate_robust_logistic_regression(X_train, X_test, y_train, y_test, lambda_, alpha_elastic, a, threshold_type="soft"):
    """
    Fit the robust logistic regression model on the given dataset and evaluate its performance.
    """
    # # Ensure labels are in {-1, 1}
    # y_train = np.where(y_train == 1, 1, -1)
    # y_test = np.where(y_test == 1, 1, -1)

    # Train model
    theta, gamma = train_robust_logistic_regression_elastic(
        X_train, y_train, lr=0.1, epochs=2000, tol=1e-6,
        lambda_=lambda_, alpha=alpha_elastic, a=a, threshold_type=threshold_type
    )

    # Predict on test set
    y_pred = predict_robust_logistic_regression(X_test, theta)

    # Compute misclassification rate
    misclassification_rate = 1 - accuracy_score(y_test, y_pred)
    return misclassification_rate

In [19]:
# ===========================
# USAGE EXAMPLE
# ===========================
# Assuming X_train, X_test, y_train, y_test are preprocessed and available
# Example usage (replace X_train, X_test, y_train, y_test with actual dataset variables)
misclassification_rate = fit_and_evaluate_robust_logistic_regression(X_train, X_test, y_train_np, y_test_np,
                                        lambda_=0.1, alpha_elastic=0.1, a=2.0, threshold_type="hard")
print(f"Test misclassification rate: {misclassification_rate:.4f}")

Test misclassification rate: 0.2113

---

In [21]:
import statistics
import math

def print_average_with_se(data_list):
    """
    Calculates and prints the average of a list with an error bar of ±SE.

    Args:
        data_list (list): The list of numerical data.
    """

    if not data_list:
        print("Error: Input list is empty.")
        return

    try:
        mean = statistics.mean(data_list)
        stdev = statistics.stdev(data_list)
        se = stdev / math.sqrt(len(data_list))

        print(f"Average: {mean:.4f} ± {se:.4f} SE")

    except statistics.StatisticsError:
        print("Error: Cannot calculate standard deviation. List must contain at least two elements.")
    except TypeError:
        print("Error: List elements must be numerical.")


misclass_rates_l1_10 = [0.1690, 0.1972, 0.1549, 0.1690, 0.2394, 0.2394, 0.3099, 0.2113, 0.2254, 0.1408, 0.1972,
                    0.1831, 0.1549, 0.2394, 0.1831, 0.1127, 0.2254, 0.2394, 0.2113, 0.1690]
misclass_rates_elastic_10 = [0.1549, 0.1690, 0.1549, 0.1408, 0.1549, 0.1831, 0.1690, 0.1972, 0.2113, 0.1408, 0.1831,
                        0.1690, 0.1690, 0.1972, 0.1408, 0.1408, 0.2394, 0.2254, 0.1831, 0.1831]

print('L1 Regularization average misclassification rate: 10% noise')
print("LENGTH L1 ITERATIONS:", len(misclass_rates_l1_10))
print_average_with_se(misclass_rates_l1_10)
print('================================================================================================')
print('Elastic Net Regularization average misclassification rate: 10% noise')
print("LENGTH ELASTIC ITERATIONS:", len(misclass_rates_elastic_10))
print_average_with_se(misclass_rates_elastic_10)

L1 Regularization average misclassification rate: 10% noise
LENGTH L1 ITERATIONS: 20
Average: 0.1986 ± 0.0101 SE
================================================================================================
Elastic Net Regularization average misclassification rate: 10% noise
LENGTH ELASTIC ITERATIONS: 20
Average: 0.1753 ± 0.0063 SE

-----

In [20]:
import statistics
import math

def print_average_with_se(data_list):
    """
    Calculates and prints the average of a list with an error bar of ±SE.

    Args:
        data_list (list): The list of numerical data.
    """

    if not data_list:
        print("Error: Input list is empty.")
        return

    try:
        mean = statistics.mean(data_list)
        stdev = statistics.stdev(data_list)
        se = stdev / math.sqrt(len(data_list))

        print(f"Average: {mean:.4f} ± {se:.4f} SE")

    except statistics.StatisticsError:
        print("Error: Cannot calculate standard deviation. List must contain at least two elements.")
    except TypeError:
        print("Error: List elements must be numerical.")


misclass_rates_l1_20 = [0.2817, 0.3239, 0.2958, 0.3380, 0.3099, 0.2958, 0.2958, 0.2817, 0.3944, 0.3099, 0.3521, 0.2817, 0.1549, 0.2535,
                            0.2676, 0.3239, 0.2817, 0.1972, 0.2394, 0.2676]

misclass_rates_elastic_20 = [0.2535, 0.2958, 0.2113, 0.3099, 0.2817, 0.2676, 0.2394, 0.2254, 0.3239, 0.3239, 0.3239, 0.1831, 0.1549, 0.2113,
                                0.2676, 0.2817, 0.3099, 0.2394, 0.2535, 0.2113]

print('L1 Regularization average misclassification rate: 20% noise')
print("LENGTH L1 ITERATIONS:", len(misclass_rates_l1_20))
print_average_with_se(misclass_rates_l1_20)
print('================================================================================================')
print('Elastic Net Regularization average misclassification rate: 20% noise')
print("LENGTH ELASTIC ITERATIONS:", len(misclass_rates_elastic_20))
print_average_with_se(misclass_rates_elastic_20)

L1 Regularization average misclassification rate: 20% noise
LENGTH L1 ITERATIONS: 20
Average: 0.2873 ± 0.0117 SE
================================================================================================
Elastic Net Regularization average misclassification rate: 20% noise
LENGTH ELASTIC ITERATIONS: 20
Average: 0.2585 ± 0.0110 SE

---

In [28]:
# Extract the relevant data from the given text
data = [
    ("L1", "10%", "0.1986 ± 0.0101 SE", 0.0101),
    ("Elastic Net", "10%", "0.1753 ± 0.0063 SE", 0.0063),
    ("L1", "20%", "0.2873 ± 0.0117 SE", 0.0117),
    ("Elastic Net", "20%", "0.2585 ± 0.0110 SE", 0.0110)
]

# Create a DataFrame
df = pd.DataFrame(data, columns=["Regularization", "Noise", "Average", "SE"])

# Pivot the DataFrame to get the desired format
df_pivot = df.pivot(index="Noise", columns="Regularization", values=["Average", "SE"])

# Flatten the column names
df_pivot.columns = [f"{col[0]}_{col[1]}" for col in df_pivot.columns]

# Rename columns for clarity
df_pivot.columns = ['Elastic Net Misclassification Rate', 'L1 lasso Misclassification Rate', 'Elastic Net SE', 'L1 lasso SE']

# Select only the average misclassification rate columns
df_result = df_pivot[['L1 lasso Misclassification Rate', 'Elastic Net Misclassification Rate']]

df_result

      L1 lasso Misclassification Rate Elastic Net Misclassification Rate
Noise
10%                0.1986 ± 0.0101 SE                 0.1753 ± 0.0063 SE
20%                0.2873 ± 0.0117 SE                 0.2585 ± 0.0110 SE

---